.ImageDisplayContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
}

.ProductSelectContainer {
	width: 100%;
	max-width: 600px;
	margin: 0px 0px 20px 0px;
}

.DaySelectContainer {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  width: 100%;
  max-width: 600px;
  height: 50px;
}

.DaySelectButton {
	cursor: pointer;
	margin: 5px;
	border-radius: 5px;
	border-width: 1px;
	border: solid;
}
.DaySelectButton:focus {
	outline: 0;
}

.DaySelectButton.selected {
	background: #cdcdcd;
	border-color: #2684ff;
	border-width: 3px;
}

.ArchiveDatePickerContainer {
	width: 100%;
	max-width: 600px;
	padding: 20px;
}

.ArchiveDatePicker {
	width: 100%;
	padding: 5px;
	-moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
}

.ImgContainer {
	max-width: 1800px;

}

.ImgElement {
	display: block;
	max-width: 100%;
	max-height: calc(100vh - 280px);
	width: auto;
	height: auto;
}

.MissingImgText {
	color: red;
	font-weight: bold;
	font-size: 22px;
}

.MissingImgIcon {
	font-size: 72px;
}

@media screen and (max-width: 600px) {
	.ImgElement {
		max-height: auto
	}
}
