.TitleHeader {
  margin: 10px 0px 10px 0px;
}

.DisplayTypeButtonContainer {
  margin: 10px;
}

.DisplayTypeButton {
  background: #0058a6;
  color: white;
  border-radius: 3px;
  padding:5px;
  cursor: pointer;
  font-weight: bold;
}

.SinglePlotContainer {
  width: 100%;
}

.MultiPlotContainer {
  width: 50%;
  float: left;
}

.PlotOptionsContainer {
  display: flex;
  max-width: 600px;
  margin: auto;
}

.PlotTypeRadioContainer {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  border-right: 2px solid black;
  padding-right: 20px;
  height: 28px;
  line-height: 28px;
}

.ComparisonToggleContainer {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  padding-left: 20px;
  flex-direction: row;
  height: 28px;
}

.ComparisonToggleLabel {
  font-weight: bold;
  margin: 0px 0px 0px 10px;
  line-height: 28px;
}

.ComparisonToggleSwitch {
/*  padding-left: 50px;*/
}

@media screen and (max-width: 600px) {
  .MultiPlotContainer {
    width: 100%;
  }
}