.NavBar {
  z-index: 9999!important;
  position: relative!important;
}

.TitleContainer {
  display: flex;
  align-items: center;
  /* text-align: center; */
  justify-content: center;
}

.TitleHeader {
  margin: 5px 0px 5px 0px;
}

@keyframes anim-glow {
   0% {
     box-shadow: 0 0 #03457f;
  }
   100% {
     box-shadow: 0 0 6px 3px transparent;
     border-width: 2px;
  }
}

.AboutIcon {
  color: #03457f;
  border-radius: 50%;
  margin-left:10px;
  font-size: 24px;
  cursor: pointer;
  animation: anim-glow 2s ease infinite;
  border: 1px solid white;
}

.DisplayTypeButtonContainer {
  margin: 10px;
}

.DisplayTypeButton {
  background: #0058a6!important;
  color: white;
/*  border-radius: 3px;
  padding:5px;*/
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
}

.DisplayTypeButton:hover {
  background: #03457f!important;
}

.SinglePlotContainer {
  width: 100%;
}

.MultiPlotContainer {
  width: 50%;
  float: left;
}

.PlotOptionsContainer {
  display: flex;
  max-width: 600px;
  margin: auto;
}

.PlotTypeRadioContainer {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  border-right: 2px solid black;
  padding-right: 20px;
  height: 28px;
  line-height: 28px;
}

.ComparisonToggleContainer {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  padding-left: 20px;
  flex-direction: row;
  height: 28px;
}

.ComparisonToggleLabel {
  font-weight: bold;
  margin: 0px 0px 0px 10px;
  line-height: 28px;
}

.ComparisonToggleSwitch {
/*  padding-left: 50px;*/
}

@media screen and (max-width: 600px) {
  .MultiPlotContainer {
    width: 100%;
  }
}

